<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Order Details</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="_csrf" content="${_csrf.token}"/>
    <meta name="_csrf_header" content="${_csrf.headerName}"/>
    <style>
        body {
            font-family: 'Roboto', sans-serif;
            background-color: #f4f4f4;
            padding-top: 60px;
            margin: 0;
        }

        .container {
            max-width: 960px;
            background-color: #ffffff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            margin: 80px auto auto;
        }

        .container-fluid {
            max-width: 960px;
        }

        .navbar-dark.bg-primary {
            background-color: #0056b3 !important;
        }

        .navbar-nav .nav-link {
            color: #ffffff;
        }

        .navbar-nav .nav-link:hover {
            background-color: #0056b3;
        }

        .btn-light {
            margin-left: auto;
        }

        .list-group-item {
            color: #777777;
        }
    </style>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="/user-profile" style="font-size: 22px; padding-top: 10px; padding-bottom: 10px;">News
            Portal</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <div sec:authorize="hasAnyAuthority('ADMINISTRATOR')">
                    <li class="nav-item">
                        <a class="nav-link" type="submit" th:href="@{/admin/users}">Users</a>
                    </li>
                </div>

                <li class="nav-item">
                    <a class="nav-link" methods="get"
                       th:href="@{${#authorization.expression('hasAuthority(''ADMINISTRATOR'')') ? '/admin/news' :
                 '/seller/news'}}" type="submit">News</a>
                </li>

                <div sec:authorize="hasAnyAuthority('ADMINISTRATOR')">
                    <li class="nav-item">
                        <a class="nav-link" type="submit" th:href="@{/admin/reviews}">Reviews</a>
                    </li>
                </div>

                <li class="nav-item">
                    <a class="nav-link" methods="get"
                       th:href="@{${#authorization.expression('hasAuthority(''ADMINISTRATOR'')') ? '/admin/items' :
                  '/seller/items'}}" type="submit">Items</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" methods="get"
                       th:href="@{${#authorization.expression('hasAuthority(''ADMINISTRATOR'')') ? '/admin/orders' :
                '/seller/orders'}}" type="submit">Orders</a>
                </li>
            </ul>
            <div class="navbar-text ms-3 me-2" th:text="${#authentication.name}">Username</div>
            <form th:action="@{/logout}" method="post">
                <input type="hidden" name="_csrf" th:value="${_csrf.token}">
                <button type="submit" class="btn btn-light ms-2">Logout</button>
            </form>
        </div>
    </div>
</nav>

<div class="container mt-5">
    <h1 th:text="${order.title}">Order Title</h1>
    <div class="order-details">
        <div class="card">
            <div class="card-header">
                Order Information
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item" th:text="'UUID: ' + ${order.uuidOfOrder}">UUID</li>
                <li class="list-group-item" th:text="'Status: ' + ${order.orderStatus}">Status</li>
                <li class="list-group-item" th:text="'Title: ' + ${order.title}">Title</li>
                <li class="list-group-item" th:text="'Last name: ' + ${order.lastName}">Last Name</li>
                <li class="list-group-item" th:text="'Telephone: ' + ${order.telephone}">Telephone</li>
                <li class="list-group-item" th:text="'Number of items: ' + ${order.numberOfItems}">Number of Items</li>
                <li class="list-group-item" th:text="'Total price: ' + ${order.totalPrice}">Total Price</li>
            </ul>
        </div>
    </div>
    <div class="order-action mt-4">
        <form th:action="${#authorization.expression('hasAuthority(''ADMINISTRATOR'')') ? '/admin/orders/' + order.id + '/change-order-status' : '/seller/orders/' + order.id + '/change-order-status'}"
              method="post">
            <div class="form-group">
                <label for="status">Change Status</label>
                <select id="status" name="status" class="form-select" onchange="this.form.submit()">
                    <option value="">Select Status</option>
                    <option th:each="status : ${T(ru.mail.senokosov.artem.service.model.enums.OrderStatusDTOEnum).values()}"
                            th:value="${status.name()}" th:text="${status.name()}"></option>
                </select>
            </div>
            <input type="hidden" name="_csrf" th:value="${_csrf.token}">
        </form>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>